<p>Hi <%= @patient.first_name %>,</p>

<p>You received an answer from @doctor.last_name</p>

<p>To access it, please click the link below: </p>

<p>Hi <%= link_to 'Voir réponse', patient_path(@patient) %>,</p>
