<p>Bonjour <%= @patient.first_name @patient.last_name %>,</p>

<p>Vous venez de recevoir une réponse du Dr @doctor.first_name @doctor.last_name</p>

<p>Pour y accéder, merci de cliquer sur le lien ci-dessous: </p>

<%= link_to 'Diagnostic', @patient_path %>
