.patients-show h2 {
  background-color: $green-main;
  color: white;
  font-size: 1.6em;
  padding: 2px 2%;
}

.patients-details h3 {
  font-size: 1.4em;
  font-weight: bold;
}

.fa-minus, .fa-plus {
  color: $green-main;
  font-size: 20px;
}

.patient-photos {
  padding-bottom: 4%;
}

// https://designshack.net/articles/css/joshuajohnson-2/ //

.grow img {

  height: 300px;
  width: 300px;

  // -webkit-transition: all 1s ease;
  //    -moz-transition: all 1s ease;
  //      -o-transition: all 1s ease;
  //     -ms-transition: all 1s ease;
  //         transition: all 1s ease;
}

.doctor-recommandations {
  display: grid;
  grid-template-columns: 250px 800px ;
  grid-template-rows: 100px 400px ;
  grid-column-gap: 30px;
}

.messages-templates {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messages-templates-buttons {
  border: 1px solid #62E1A6;
  border-radius: 25px;
  font-size: 14px;
  color: #4A4A4A;
  padding: 6px 30px;
  background: none;
  outline: none;
  width: 222px;
}

.messages-templates .active {
  background: #62E1A6;
  border-radius: 25px;
  font-size: 14px;
  color: #FFFFFF;
}


.messages-templates-buttons:hover {
  border: 3px solid #62E1A6;
  border-radius: 25px;
  font-size: 14px;
  color: #4A4A4A;
  padding: 6px 30px;
}

.dignastic-choices {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.dignastic-choices-buttons {
  display: flex;
  align-items: center;
  padding: 4% 0;
  height: 20%;
  width: 100%;
  padding-left: 4px;
  background: none;
  border: none;
  border-bottom: 2px solid $green-main;
  outline: none;
}

.dignastic-choices .active {
  background-color: #DCDDE1;
  border-radius: 3px;
  position: relative;
}

.dignastic-choices .active:before, .dignastic-choices .active:after {
    content:" ";
    position: absolute;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}


.dignastic-choices .active:before {
    left: 100%;
    border-left: 11px solid #DCDDE1;
}

.dignastic-choices-buttons i {
  display: block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: $green-main;
  color: white;
  text-align: center;
  font-size: 1em;
  margin-right: 20px;
}

.dignastic-choices-buttons p {
  margin: 0;
  color: #4A4A4A;
  text-align: left;
  margin: 0;
}


.recommandation-text-area {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.message_content .form-control {
  height: 400px;
  font-size:14pt;
}

.form-control {
  border: transparent;
}

.form-control:focus,  {
  border: 2px solid $green-main;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
}

.recommandation-text-area .btn-cta {
  color: white;
  padding: 4% 13%;
}

.recommandation-text-area .form-actions {
  float: right;
}



// cas patient - details du tableau //

.info-pratiques-input {
  margin-bottom: 2%;
  padding-bottom: 3px;
  position: relative;
  p {
    font-size: 0.8em;
    color: grey;
    font-style: italic;
    margin: 0 0 1.5px;
    padding-left: 0;
  }
}

.info-pratiques-input:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 60%;
  border-bottom: 1px solid $green-main;
}

.context-medical-input-tf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;

  p {
    border: 2px solid $green-main;
    border-radius: 6px;
    padding: 2px 8px;
    margin: 0;
    margin-left: 15px;
    width: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p:hover {
    border: 4px solid $green-main;
  }

  i {
    color: $green-main;
  }
  .false-red {
    color: red;
  }
}

.caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 300px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.grow {
  position: relative;
  overflow: hidden;
}

.grow:hover .caption {
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform:translateY(-100px);
  -moz-transform:translateY(-100px);
  -ms-transform:translateY(-100px);
  -o-transform:translateY(-100px);
}

.blur {
  background-color: rgba(0,0,0,0.7);
  height: 300px;
  width: 300px;
  z-index: 5;
  position: absolute;
}

.caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 300px;
  height: 300px;
  text-align: center;
  top: 20px;

  p {
    text-transform: uppercase;
    font-size: 18px;
    background: none;
  }
  h2 {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    background: none;
    text-align: center;
  }
}

