.patients-show h2 {
  background-color: $green-main;
  color: white;
  font-size: 1.1em;
  padding: 2px 2%;
}

.patients-details h3 {
  font-size: 1em;
  font-weight: bold;
}

.fa-minus, .fa-plus {
  color: $green-main;
  font-size: 20px;
}

.patient-photos {
  padding-bottom: 4%;
}

.doctor-recommandations {
  display: grid;
  grid-template-columns: 250px 800px ;
  grid-template-rows: 100px 400px ;
  grid-column-gap: 30px;
}

.messages-templates {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messages-templates-buttons {
  border: 1px solid #62E1A6;
  border-radius: 25px;
  font-size: 14px;
  color: #4A4A4A;
  padding: 6px 67px;
}

.messages-templates .active {
  background: #62E1A6;
  border-radius: 25px;
  font-size: 14px;
  color: #FFFFFF;
}


.messages-templates-buttons:hover {
  border: 3px solid #62E1A6;
  border-radius: 25px;
  font-size: 14px;
  color: #4A4A4A;
  padding: 6px 67px;
}

.dignastic-choices {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.dignastic-choices-buttons {
  display: flex;
  align-items: center;
  padding: 4% 0;
  border-bottom: 2px solid $green-main;
  height: 20%;
  width: 100%;
  padding-left: 4px;
}

.dignastic-choices .active {
  background-color: #DCDDE1;
  border-radius: 3px;
  position: relative;
}

.dignastic-choices .active:before, .dignastic-choices .active:after {
    content:" ";
    position: absolute;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}


.dignastic-choices .active:before {
    left: 100%;
    border-left: 11px solid #DCDDE1;
}

.dignastic-choices-buttons i {
  display: block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  -moz-border-radius: 50%; /* or 50% */
  border-radius: 50%; /* or 50% */
  background-color: $green-main;
  color: white;
  text-align: center;
  font-size: 1em;
  margin-right: 20px;
}

.dignastic-choices-buttons p {
  margin: 0;
  color: #4A4A4A;
}


.recommandation-text-area {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.message_content .form-control {
  height: 400px;
  font-size:14pt;
}

.form-control {
  border: transparent;
}

.form-control:focus,  {
  border: 2px solid $green-main;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
}

.recommandation-text-area .btn-cta {
  color: white;
  padding: 4% 13%;
}

.recommandation-text-area .form-actions {
  float: right;
}
