a {
  color: white;
  text-decoration: none;
  margin: 0 3px;
}

a:hover {
  text-decoration: none;
  color: white;
  text-decoration: none;
  margin: 0 3px;
}

.hoover:hover  {
  color: white;
  text-decoration: none;
  background-color: #25A18E;
  border-radius: 5px;
  opacity: 0.8;
  padding: 5px 20px;
  margin: 0 3px;
}
