<h1> YIELD !!!! </h1>
<ul>
<p>yieldera bien qui yieldera le dernier !</p>
<p>Nul n'est plus Yield que celui qui ne veut pas Yield</p>
<p>Il ne faut pas tortiller du cul pour Yielder droit !</p>
</ul>

