.btn-cta {
  border-radius: 5px;
  background-color: $blue-cta;
  border-color: $blue-cta;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.30);
  padding: 15px 30px;
}

.btn-cta:hover {
  border-radius: 5px;
  background-color: $blue-cta;
  border-color: $blue-cta;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
  opacity: 0.9;
  color: white;
  padding: 15px 30px;
}

.btn-medium {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 10px 30px;
  border-radius: 6px;
}

.btn-medium:hover {
  background-color: $green-main;
  color: #62E1A6;
  border: 1px solid #FFFFFF;
  padding: 10px 30px;
  border-radius: 6px;
}

