.btn-cta {
  border-radius: 5px;
  background-color: $blue-cta;
  border-color: $blue-cta;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
}

.btn-cta:hover {
  border-radius: 5px;
  background-color: $blue-cta;
  border-color: $blue-cta;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
  opacity: 0.9;
  color: white;
}

.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  opacity: 0.6;
}

.btn-medium:hover {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  opacity: 0.4;
  background-color: #80BBD3;
}
